:root {
    font-size: 16px;
    --primary: #06b7cb;
    --dark-primary: #0b5767;
    --dark-primary80: rgba(8, 141, 168, 0.8);
    --black: #000000;
    --white: #F8F8F8;
    --grey50: rgba(0, 0, 0, 0.05);
    --secondary: #F7C600;
  }
  
  @font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url(../fonts/jura.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* RESET  */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  ul,
  ol,
  li {
    list-style: none;
  }
  
  a:link,
  a:visited {
    text-decoration: none;
  }
  
  a {
    color: var(--white);
    cursor: pointer;
  }

  a:hover {
    color: var(--secondary);
    filter: drop-shadow(0 0 1rem #06b7cb);
  }
  
  @media screen and (min-width: 768px) {
    a {
      color: var(--dark-primary);
      transition: 0.25s ease-in-out;
    }
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  input[type=submit] {
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  body {
    color: var(--black);
    background-color: var(--white);
    font-family: "jura";
    font-size: 1rem;
  }
  
  input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
  }
  
  /* UTILS  */
  
  .container {
    max-width: 92.5rem;
    margin: 1.25rem;
  }
  
  .container--btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem 0;
  }
  
  .up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .text--white {
    color: var(--white);
  }
  
  @media screen and (min-width: 768px) {
    .container {
      margin: auto;
    }
  }
  
  /* Hamburger */
  
  @media screen and (max-width: 768px) {
    .hamburger__link {
      font-size: 1.25rem;
    }
  
    .hamburger__menu {
      z-index: 1;
      min-width: 100%;
      min-height: 22.5rem;
      position: fixed;
      top: 5rem;
      left: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 1.25rem;
      transition: all 0.3s ease-in-out;
    }
  
    .hamburger__menu.overlay {
      color: var(--white);
      font-size: 2rem;
      visibility: visible;
      opacity: 1;
      background: var(--dark-primary80);
      line-height: 4;
      position: absolute;
    }
  }
  
  @media screen and (min-width: 768px) {
    .hamburger {
      display: none;
    }
  }
  
  /* HEADER  */
  
  .header {
    display: flex;
    padding: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border-bottom: 2px solid var(--secondary);
    margin-bottom: 2rem;
  }
  
  .header__separator {
    color: var(--secondary);
  }
  
  .header__logo {
    max-width: 4rem;
    aspect-ratio: 1;
  }

  .header__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 2rem;
  }


  
  /* NAV  */
  
  .nav__lnk--current {
    color: var(--secondary);
    font-weight: bold;
  }
  
  /* TITLES */
  
  .ttl {
    font-family: 'jura';
    font-size: 2rem;
    color: var(--dark-primary);
  }
  
  .ttl--bold {
    font-family: 'jura';
    font-weight: bold;
    padding: 1rem;
  }
  
  .ttl--small {
    font-size: 1.5rem;
  }
  
  .ttl--white {
    color: var(--white);
  
  }
  
  .ttl--secondary {
    color: var(--secondary);
    font-size: 1.25rem;
  }
  
  .header__ttl{
    font-size: 4rem;
  }
  
  @media screen and (max-width: 768px) {
    .ttl--small {
      max-width: 13.625rem;
    }

    .header__ttl {
        font-size: 2rem;
    }
  }
  
  /* FORM  */
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
  }
  
  .form__label {
    font-size: 1.25rem;
  }
  
  .form__input {
    width: 13.75rem;
    padding: 0.5rem;
    border: 2px solid var(--primary);
    background-color: var(--grey50);
  }
  
  .form__input:focus-visible {
    outline-color: var(--secondary);
  }
  
  .form__input:hover {
    outline-color: var(--secondary);
  }
  
  .form__submit {
    font-family: 'Jura';
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
    background-color: var(--dark-primary);
    color: var(--secondary);
    width: 15rem;
    padding: 1rem;
    border-radius: .5rem;
  }
  
  .form__submit:hover {
    background-color: var(--secondary);
    color: var(--dark-primary);
  }
  
  .form__input__placeholder {
    color: var(--secondary);
  }
  
  /* BUTTONS  */
  
  .btn {
    font-family: 'jura';
    font-weight: bold;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 0.75rem;
    width: 8.625rem;
    padding: 0.5rem;
    text-align: center;
    transition: 0.25s ease-in-out;
  }
  
  .bin {
    background-image: url(img/bin.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 33px;
  }
  
  
  /* LINK  */
  

  
  /* filmLIST  */
  
  @media screen and (min-width: 768px) {
    .filmlist {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }
  }
  
  /* film  */
  
  .film {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45.5rem;
    border: 2px solid var(--primary);
    padding: 0.5rem;
    border-radius: 1.25rem;
    margin: 1.25rem 0;
    gap: 0.75rem;
    background-color: var(--dark-primary);
  }
  
  .film__number {
    font-weight: bold;
    color: var(--secondary);
  }
  
  .film__content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin: 0 0.5rem;
  }
  
  .film__content--done {
    justify-content: flex-start;
    align-items: center;
  }
  
  .film__content--date-and-level {
    justify-content: space-between;
    align-items: center;
  }
  
  .film-content--deadline {
    justify-content: flex-start;
    width: 100%;
  }
  
  .film__themes {
    justify-content: flex-start;
  }
  
  /* DEADLINE */
  
  .deadline {
    color: var(--secondary);
  }
  
  /* NOTIFS  */
  
  .alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .alert-error {
    color: var(--secondary);
  }
  
  .alert-success {
    color: var(--dark-primary);
  }
  
  @media screen and (max-width: 768px) {
    .notif--error--big {
      font-size: 1.25rem;
      text-align: center;
    }
  }
  
  
  /* ALL DONE  */
  
  .all-done {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 1.25rem;
  }
  
  @media screen and (min-width: 768px) {
    .all-done {
      margin-bottom: 1.5rem;
    }
  }
  
  /* CHECK  */
  
  .check {
    color: var(--secondary);
    font-size: 3rem;
  }
  
  /* FOOTER  */
  
  .footer {
    display: flex;
    justify-content: center;
    color: var(--white);
    background-color: var(--primary);
    padding: 2rem;
    margin-top: 2rem;
  }
  
  .hidden {
    display: none;
  }
  